In [1]:
import pandas as pd
import numpy as np

In [3]:
fuel_df = pd.read_csv("fuel_ferc1.csv")

In [4]:
fuel_df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [18]:
# To check the fuel type code has the lowest average fuel cost per unit burned?
fuel_df.sort_values(['fuel_cost_per_unit_burned'], ascending=1)[['fuel_cost_per_unit_burned', 'fuel_type_code_pudl']]

       fuel_cost_per_unit_burned fuel_type_code_pudl
7733                    -276.080               waste
7736                    -174.670               waste
7730                    -123.310               waste
11242                   -119.040               other
2123                     -85.760               waste
...                          ...                 ...
22991                  65137.588             nuclear
21483                  69785.215             nuclear
24577                  80459.000                 oil
20719                  83538.000                 oil
25127                 139358.000                 oil

[29523 rows x 2 columns]

In [23]:
fuel_mmbtu_per_unit = np.array(fuel_df.fuel_mmbtu_per_unit)

In [24]:
fuel_mmbtu_per_unit

array([16.59 , 16.592, 24.13 , ...,  1.06 , 16.108,  1.059])

In [26]:
standard_dev_fuel_mmbtu_per_unit = np.std(fuel_mmbtu_per_unit)

In [27]:
print(standard_dev_fuel_mmbtu_per_unit)

10.600040781503973

In [29]:
perc_75 = np.percentile(fuel_mmbtu_per_unit, 75)

In [30]:
perc_75

17.006

In [31]:
# dataframe skewness
fuel_df.skew(axis=0, skipna=True)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [32]:
# dataframe kurtosis
fuel_df.kurtosis(axis=0, skipna=True)

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

In [35]:
# Missing values
fuel_df.isna().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [39]:
no_of_rows = fuel_df.shape[0]

In [42]:
# calculate percentage of missing values
(180/no_of_rows)*100

0.609694136774718

In [53]:
# check datatype for fuel_unit: the missing value's container
fuel_df.fuel_unit.dtypes

dtype('O')

In [54]:
fuel_df.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [55]:
0.011007 > 0.013599

False

In [57]:
-0.000437 > -0.037863

True

In [62]:
highest_average = fuel_df.fuel_cost_per_unit_delivered.max()

In [66]:
# Which year has the highest average fuel cost per unit delivered?
fuel_df.sort_values([ 'fuel_cost_per_unit_delivered', 'report_year'], ascending=False)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
3564,f1_fuel_1997_12_9_0_8,9,1997,peach bt 2&3,nuclear,gramsU,210474.0,0.000065,37.847,7964521.000,0.578
3244,f1_fuel_1996_12_9_0_8,9,1996,peach bt 2&3,nuclear,gramsU,211407.0,0.000065,36.865,7793482.000,0.145
3565,f1_fuel_1997_12_9_0_11,9,1997,salem 1&2,nuclear,gramsU,36919.0,0.000056,61.100,2255688.000,1.087
3245,f1_fuel_1996_12_9_0_14,9,1996,hope creek 1,nuclear,gramsU,58795.0,0.000065,35.964,2114508.000,0.095
3566,f1_fuel_1997_12_9_0_14,9,1997,hope creek 1,nuclear,gramsU,52526.0,0.000066,39.660,1942979.000,0.560
...,...,...,...,...,...,...,...,...,...,...,...
7733,f1_fuel_2000_12_194_3_3,194,2000,nelson dewey unit 2,waste,ton,39.0,0.015500,-276.080,-174.670,-8.906
7736,f1_fuel_2000_12_194_3_6,194,2000,nelson dewey u 1&2,waste,ton,116.0,0.015500,-174.670,-174.670,-5.635
12975,f1_fuel_2004_12_210_1_6,210,2004,sycamore,oil,bbl,588.0,5.712420,38.722,-313.410,6.779
16634,f1_fuel_2007_12_177_2_4,177,2007,mexico c.t.,oil,bbl,2240.0,5.754000,77.605,-488.054,13.487
17525,f1_fuel_2008_12_177_1_1,177,2008,mexico c.t.,oil,bbl,811.0,5.754000,86.628,-874.937,15.055